ci:
  autoupdate_schedule: monthly
  autofix_commit_msg: "style(pre-commit.ci): auto fixes [...]"
  autoupdate_commit_msg: "ci(pre-commit.ci): autoupdate"
  autofix_prs: false

repos:
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.40.0
    hooks:
      - id: typos

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args: [--fix, --unsafe-fixes]
      - id: ruff-format

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        files: "^packages/.*/src/.*\\.py$"
        # # you have to add the things you want to type check against here
        additional_dependencies:
          - types-pyyaml
          # - types-networkx
          - pydantic
          - typer
          - numpy
          - zarr

  - repo: local
    hooks:
      - id: pyright
        stages: [manual]
        name: pyright (local)
        entry: uv run pyright
        language: system
        types: [python]
        files: "^packages/.*/src/.*\\.py$"
